*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Questrial", sans-serif;
  background-color: #fff;
}

/* global css */
img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn {
  display: inline-block;
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  margin-top: 0.5rem;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  /* customize */
  background-color: #1c2042;
  color: white;
  border: 2px solid #1c2042;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.desktop-header {
  display: none;
}

header {
  width: 100%;
  height: 2.5rem;
}

.mobile-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.dior-logo {
  width: 4.5rem;
  height: auto;
}

.fa-bars {
  color: rgb(128, 128, 128);
}

.mobile-header {
  margin: 1rem 1.5rem;
}

.box-1 {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.box-left {
  height: 50%;
  background-image: url(../Images/DesktopImages/cdc-dispatch19_1440_1200.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  color: #fff;
  text-shadow: 5px 2px 6px black;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
}

.box-right {
  height: 50%;
  background-image: url(../Images/DesktopImages/pcd-dispatch5_1440_12004.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.desktop {
  display: none;
}

.mobile {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  margin: 1rem 0;
}

.footer-mobile {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.line {
  width: 100%;
  margin-top: -3rem;
  margin-bottom: -3rem;
  border-bottom: 0.25px solid grey;
  opacity: 0.25;
}

a {
  font-size: 0.75rem;
  color: rgb(0, 0, 0);
  margin-left: 1.5rem;
  font-weight: bold;
}

.fa-plus {
  font-size: 0.75rem;
  color: rgb(0, 0, 0);
  margin-right: 1.5rem;
}

@media screen and (min-width: 576px) {
}

/* Medium devices (tablets) */

@media (min-width: 768px) {
}

/* Large devices (desktops) */

@media (min-width: 991px) {
  body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

/* Extra large devices (large desktops) */

@media (min-width: 1200px) {
}
